<footer>
    <!-- <div class="footer_parts"> -->
    <span class="footer_parts_left">
        <h1>NIKLAS</h1>
        <a href="#">Impressum</a>
    </span>

    <p>© Niklas Schneider 2024</p>


    <span class="right_part">
        <img (click)="goToLink('https://github.com/Agend047')" src="../../assets/img/Github.png" target="_blank"
            alt="Github">

        <a [href]="emailstring" target="_top">
            <img src="../../assets/img/Email.png" target="_blank" alt="Email">
        </a>

        <img (click)="goToLink('https://www.linkedin.com/in/niklas-schneider-635789257/')"
            src="../../assets/img/Linkedin.png" target="_blank" alt="Linkedin">
    </span>

    <!-- </div> -->
</footer>