footer {
    height: 291px;
    padding-left: 100px;
    padding-right: 100px;

    color: white;
    background-color: #141D2F;

    border-style: solid;
    border-color: #00BEE8;

    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
        color: white;
        text-decoration: none;
    }

    .right_part {
        img {
            width: 30px;
            padding: 18px;

            &:hover {
                cursor: pointer;
            }
        }
    }

}

.footer_logo {
    width: 218px;
    height: 40px;
}



.mobile_imprint_link {
    display: none;
}



@media only screen and (max-width: 800px) {
    footer {
        flex-direction: column;

        padding-top: 60px;

    }

    .wide_imprint_link {
        display: none;

    }

    .mobile_imprint_link {
        display: block;
        padding-bottom: 60px;
    }
}