<footer>
    <span class="left_part">
        <!-- <a routerLink="/">NIKLAS</a> <br> -->
        <!-- <a routerLink="/imprint">Imprint</a> -->


        <a routerLink="" routerLinkActive="active" ariaCurrentWhenActive="page">
            <img class="footer_logo" src="../../assets/img/Logo.png" alt="NIKLAS">
        </a> <br>
        <a class="wide_imprint_link" routerLink="/imprint" routerLinkActive="active"
            ariaCurrentWhenActive="page">Imprint</a>
    </span>

    <p>© Niklas Schneider 2024</p>


    <span class="right_part">
        <img (click)="goToLink('https://github.com/Agend047')" src="../../assets/img/Github.png" target="_blank"
            alt="Github">

        <a [href]="emailstring" target="_top">
            <img src="../../assets/img/Email.png" target="_blank" alt="Email">
        </a>

        <img (click)="goToLink('https://www.linkedin.com/in/niklas-schneider-635789257/')"
            src="../../assets/img/Linkedin.png" target="_blank" alt="Linkedin">
    </span>

    <a class="mobile_imprint_link" routerLink="/imprint" routerLinkActive="active"
        ariaCurrentWhenActive="page">Imprint</a>

</footer>