footer {
    height: 291px;

    border-style: solid;
    border-color: var(--sec-color);

    display: flex;
    align-items: center;
    justify-content: space-between;

    .right_part {
        img {
            width: 30px;
            padding: 18px;

            &:hover {
                cursor: pointer;
            }
        }
    }
}

.footer_logo {
    width: 218px;
    height: 40px;
}


.mobile_imprint_link {
    display: none;
}


.HeadFoot {
    padding-left: 100px;
    padding-right: 100px;

    color: white;
    background-color: var(--bg-color);
}

@media only screen and (max-width: 1000px) {
    .HeadFoot {
        padding-left: 6vw;
        padding-right: 6vw;
    }
}

@media only screen and (max-width: 800px) {
    footer {
        flex-direction: column;

        padding-top: 60px;

    }

    .wide_imprint_link {
        display: none;

    }

    .mobile_imprint_link {
        display: block;
        padding-bottom: 60px;
    }
}