article {
    align-items: center;
    justify-content: space-between;

    padding-left: 100px;

    @media (max-width: 960px) {
        padding-left: 50px;
        padding-right: 50px;
    }

    .left_txt {
        width: 40vw;
        max-width: 600px;

        @media (max-width: 960px) {
            width: 100%;
            max-width: 100%;
        }

        figure {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-left: 0;
            margin-right: 0;
        }
    }


    .right_pic {
        align-items: center;
        width: 50%;

        img {
            height: 350px;
            border-radius: 200px;
            border-style: solid;
            border-color: var(--sec-color);
            border-width: 5px;
        }
    }

    .vector_am {
        width: 100%;
        background-color: var(--sec-color);
    }

}