.head_div {

    .vector_contact {
        width: 76px; //adds with margin, so this position will fit with the text below
    }
}


section {
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;

    @media (max-width: 960px) {

        padding-left: 50px;
        padding-right: 50px;

        flex-direction: column;
    }


    .mail_form {

        margin-bottom: 36px;
        margin-left: 8px;

        @media (max-width: 960px) {
            margin-left: 0;
            margin-top: 36px;
        }

        .form_element {

            color: var(--txt-color);
            padding: 10px;
            background-color: var(--bg-color);
            border-color: var(--main-color);
            border-radius: 10px;
            width: 100%;

            &:hover {
                border-color: var(--sec-color);
            }
        }


        .checkbox_part {

            position: relative;

            input {
                //Hiding normal checkbox
                width: 0;
                height: 0;
                opacity: 0;
            }

            .form_checkbox {
                //creating custom checkbox
                min-width: 12px;
                min-height: 12px;

                background-color: var(--bg-color);
                border-color: var(--sec-color);
                border-style: solid;
                border-radius: 4px;
                border-width: 2px;

                &:hover {
                    box-shadow: 0px 0px 4px 2px var(--main-color);
                    background-color: var(--main-color);

                }
            }

            .pp_link {
                color: var(--main-color);
            }
        }
    }
}