.head_div {

    .vector_contact {
        width: 76px; //adds with margin, so this position will fit with the text below
    }
}


section {
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;

    .left_txt {
        margin-bottom: 32px;
    }

    @media (max-width: 960px) {

        padding-left: 50px;
        padding-right: 50px;

        flex-direction: column;
    }


    .mail_form {

        margin-bottom: 36px;
        margin-left: 8px;

        @media (max-width: 960px) {
            margin-left: 0;
            margin-top: 36px;
        }


        .form_element {

            color: var(--txt-color);
            padding: 10px;
            background-color: var(--bg-color);
            border-color: var(--main-color);
            border-radius: 10px;
            width: 100%;

            margin-top: 8px;
            margin-bottom: 8px;

            &:hover {
                border-color: var(--sec-color);
            }
        }
    }
}