<div class="titleDiv d_flex">
    <div class="placeholder"></div>
    <span class="vector_pf vector_short_left"></span>
    <p class="title">Portfolio</p>
    <span class="vector_pf vector_long_right"></span>
</div>

<span class="subtext d_flex">
    This page is a sample of my work - please feel free to try them out
</span>


<div class="portfolioProject d_flex">
    <img src="#" alt="">
    <article class="d_flex">
        <p class="project_title">Join</p>
        <p class="project_subtitle">JavaScript | HTML | CSS | Firebase</p>
        <p class="descr_txt">Task manager inspired by the Kanban System.
            Create and organize tasks using drag and drop
            functions, assign users and categories</p>
        <span class="button_div">
            <button class="prim_btn">Live test</button>
            <button class="git_btn">Github</button>
        </span>
    </article>
</div>


<div class="portfolioProject d_flex">
    <article class="d_flex">
        <p class="project_title">March of the Orcs</p>
        <p class="project_subtitle">JavaScript | HTML | CSS</p>
        <p class="descr_txt">A simple Jump-and-hit game, based on object-oriented approach.
            Choose a hero to fight back against the invading orcs.
        </p>
        <span class="button_div">
            <button class="prim_btn">Live test</button>
            <button class="git_btn">Github</button>
        </span>
    </article>
    <img src="#" alt="">
</div>


<div class="portfolioProject d_flex">
    <img src="#" alt="">
    <article class="d_flex">
        <p class="project_title">Join</p>
        <p class="project_subtitle">Javascript | HTML | CSS</p>
        <p class="descr_txt">Task manager inspired by the Kanban System.
            Create and organize tasks using drag and drop
            functions, assign users and categories</p>
        <span class="button_div">
            <button class="prim_btn">Live test</button>
            <button class="git_btn">Github</button>
        </span>
    </article>
</div>


<div class="portfolioProject d_flex">
    <article class="d_flex">
        <p class="project_title">Pokédex</p>
        <p class="project_subtitle">Javascript | HTML | CSS | Api</p>
        <p class="descr_txt">A simple libary, based on the PokéAPI that provides and catalogues Pokémon information.</p>
        <span class="button_div">
            <button class="prim_btn">Live test</button>
            <button class="git_btn">Github</button>
        </span>
    </article>
    <img src="#" alt="">
</div>